body {
  background: linear-gradient(135deg, #8f76ff, #4dd0e1);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

button {
  background-color: #5452d8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #8930bd;
}

#resultado {
  margin-top: 20px;
  font-size: 1.3em;
  color: #ff00d4;
}
